@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

.card {
  background-color: rgb(255, 207, 215);
  border-radius: 3px;
  border: 1px solid rgb(255, 207, 215);
  padding: 20px;
}

.header {
  background-color: rgb(255, 207, 215);
}

.w3-bar-block {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.words {
  background-color: rgb(248, 237, 237);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bot-message {
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
  max-width: 100%;
}

.your-message {
  background-color: #bee2f1;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
  max-width: 100%;
  display: inline-block;
}

#chat-container {
  max-width: 400px;
  margin: 0 auto;
}

#chat-history {
  background-color: rgb(248, 237, 237);
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
}

.accordion {
  --bs-accordion-btn-color: ghostwhite;
  --bs-accordion-btn-bg: pink;
  --bs-accordion-active-color: maroon;
  --bs-accordion-active-bg: lightpink;
}